<!DOCTYPE html>
<html>
<head>
  <title>SC2UNIT</title>
  <link rel="stylesheet" href="{{app['root']}}/sorter_plugin_theme/style.css" type="text/css" />
  <link rel="stylesheet" href="{{app['root']}}/css/style.css" type="text/css" />
  
  
</head>
<body>

  {% include '_header.twig' %}
  <div id="content">
  {% block content %}{% endblock %}
  </div>
  
  <script src="{{app['root']}}/js/jquery-1.7.1.min.js"></script>
  <script src="{{app['root']}}/js/jquery-ui-1.8.17.custom.min.js"></script>
  <script src="{{app['root']}}/js/jquery.tablesorter.min.js"></script>
  <script src="{{app['root']}}/js/main.js"></script>
</body>
</html>
