{% extends "layout.html" %}
{% block content %}
  {{ parent() }}
  <h2>Race</h2>
  <a href="race/t">Terran</a>
  <a href="race/p">Protos</a>
  <a href="race/z">Zerg</a>

  <h2>Attribute</h2>
  <a href="armor/light">Light</a>
  <a href="armor/Armored">Armored</a>
  <a href="armor/Biological">Biological</a>
  <a href="armor/Mechanical">Mechanical</a>
  <a href="armor/Psionic">Psionic</a>
  <a href="armor/Structure">Structure</a>

{% endblock %}
