{% extends "layout.html" %}
{% block content %}
  {{ parent() }}
  <h2>Race</h2>
  <a href="/race/t">Terran</a>
  <a href="/race/p">Protos</a>
  <a href="/race/z">Zerg</a>
  <h2>Attribute</h2>
  <a href="/race/light">Light</a>
  <a href="/race/Armored">Armored</a>
  <a href="/race/Biological">Biological</a>
  <a href="/race/Mechanical">Mechanical</a>
  <a href="/race/Psionic">Psionic</a>
  <a href="/race/Structure">Structure</a>

{% endblock %}
